@import url(reset.scss);

body {
	font: 16px/1.5 freight-sans-pro , Helvetica , Arial, sans-serif;
}
a {
	color: #000;
}
nav {text-align: center;}
nav a {
	font-family: "acumin-pro-condensed";
	text-transform: uppercase;
	font-size: 1rem;	
	display: inline-block;
	padding: 1rem 1rem;
	text-decoration: none;
	letter-spacing: .05rem;
}
nav .logo img {
	height: 4rem;
	width: auto;
}
h1,h2,h3,h4 {
	font-family: "acumin-pro-condensed";
	text-transform: uppercase;
	font-size: 2rem;
}
.clear:after {
	content: "";
	display: block;
	clear: both;
}