@import url(reset.scss);

body {
	font: 16px/1.5 freight-sans-pro , Helvetica , Arial, sans-serif;
}
* {
	box-sizing: border-box;
}
.container {
	max-width: 768px;
	margin: auto;
}
img {
	width: 100%;
	height: auto;
}
a {
	color: #000;
}
iframe {
	margin-top: 3rem;
}
nav {text-align: center;margin-bottom: 2rem;}
nav a {
	font-family: "acumin-pro-condensed";
	text-transform: uppercase;
	font-size: 1rem;	
	display: inline-block;
	padding: 1rem 1rem;
	text-decoration: none;
	letter-spacing: .05rem;
}
nav .logo img {
	height: 4rem;
	width: auto;
}
h1 {
	display: none;
}
h2,h3,h4 {
	font-family: "acumin-pro-condensed";
	text-transform: uppercase;
	font-size: 1.5rem;
	margin: 1rem 0 0.25rem;
}
.clear:after {
	content: "";
	display: block;
	clear: both;
}

ul {
	list-type: disc;
}

button,.button {
	font-family: "acumin-pro-condensed";
	display: inline-block;
	border: 1px solid #000;
	padding: .5rem 1rem;
	text-transform: uppercase;
	text-decoration: none;
}

.homeshow {
	width: 100%;
	padding: .8333%;	
	& > div {
		float: left;
		.image {
			position: relative;
			padding-bottom: 73.666%;
		}
		img {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			&:nth-child(2) {
				opacity: 0;
			}
		}

	}
	.image1 {
		width: 65.8333%;
		img:nth-child(2) {
			animation-duration: 30s;
  			animation-name: fadeIn1;
			animation-iteration-count: infinite;
			// animation-direction: alternate;
		}
	}
	.image2 {
		width: 34.1666%;
		padding-left: .8333%;
		padding-bottom: .8333%;
		img:nth-child(2) {
			animation-duration: 20s;
  			animation-name: fadeIn2;
			animation-iteration-count: infinite;
			// animation-direction: alternate;
		}		
	}
	.image3 {
		width: 34.1666%;
		padding-left: .8333%;
		img:nth-child(2) {
			animation-duration: 20s;
  			animation-name: fadeIn3;
			animation-iteration-count: infinite;
			// animation-direction: alternate;
		}

	}
	
	@keyframes fadeIn1 {
		0 {
			opacity: 0;
		}
		40% {
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		90% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
	@keyframes fadeIn2 {
		0 {
			opacity: 0;
		}
		60% {
			opacity: 0;
		}
		80% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}	
	@keyframes fadeIn3 {
		0 {
			opacity: 0;
		}
		20% {
			opacity: 0;
		}
		40% {
			opacity: 1;
		}
		80% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}	

}

.col-50 {
	float: left;
	height: 20rem;
	width: 50%;
	padding-right: 2rem;
}