@import url(reset.scss);

body {
	font: 16px/1.5 freight-sans-pro , Helvetica , Arial, sans-serif;
}
* {
	box-sizing: border-box;
}
.container {
	max-width: 768px;
	margin: auto;
}
img {
	width: 100%;
	height: auto;
}
a {
	color: #000;
}
iframe {
	margin-top: 3rem;
}
nav {text-align: center;margin-bottom: 2rem;}
nav a {
	font-family: "acumin-pro-condensed";
	text-transform: uppercase;
	font-size: 1rem;	
	display: inline-block;
	padding: 1rem 1rem;
	text-decoration: none;
	letter-spacing: .05rem;
}
nav .logo img {
	height: 4rem;
	width: auto;
}
h1 {
	display: none;
}
h2,h3,h4 {
	font-family: "acumin-pro-condensed";
	text-transform: uppercase;
	font-size: 1.5rem;
	margin: 1rem 0 0.25rem;
}
.clear:after {
	content: "";
	display: block;
	clear: both;
}

ul {
	list-type: disc;
}

button,.button {
	font-family: "acumin-pro-condensed";
	display: inline-block;
	border: 1px solid #000;
	padding: .5rem 1rem;
	text-transform: uppercase;
	text-decoration: none;
}

.homeshow {
	width: 100%;
	padding: 1.33%; 
	& > div {
		float: left;
	}
	.image1 {
		width: 66.25%;
	}
	.image2 {
		width: 33.75%;
		padding-left: 1.33%;
		padding-bottom: 1.33%;
	}
	.image3 {
		width: 33.75%;
		padding-left: 1.33%;
	}
}